target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar

*.log
*.pid
hs_err_pid*.log
replay_pid*.log

.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project

.DS_Store
.env
*.env
.secrets/
*.asc
*.gpg
settings.xml
